:root{
    --background: #ffffff;
    --foreground: #9c8f62;
    --primary: #2b1e0a;
    --primary-light: #caa0a0;
    --primary-foreground: #ffffff;
    --secondary: #8b6600;
    --secondary-foreground: #5e481a;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%; /*a cada 1rem equivalente +ou- 10px*/
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.button{
    display: inline-block;
    border: 0.2rem solid var(--foreground);
    color: var(--foreground);
    border-radius: 1.5rem;
    padding: 0.8rem 1.5rem;
    transition: all ease .2s;
}

.button:hover{
    background-color: var(--foreground);
    color: var(--primary-foreground);
}


